@media screen and (max-width: 550px) {
    .contenedorRegistro{
        margin-top: 35%;
    }

    .Titulo{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .padre{
        width: 100%;
    }
    
    
    
    .inputRegistro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 100%;
    }
    
    .input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 60px;
        background-color: #EFEFEF;
        border: transparent;
        border-radius: 12px;
    }
    .input:focus{
        border: solid 1px #0F77F0;
    }
    .contenedorInicioSesion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .botonRegistrarse{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F77F0;
        border-radius: 15px;
        width: 328px;
        height: 56px;
        margin-top: 130px;
        
    
    }
    .botonRegistrarse a{
        text-decoration: none;
        color: white;
    }
    
    .contenedorP{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorP a{
        color: #444444;
        text-decoration: none;
    }
    }
    