@media screen and (max-width: 600px) {

    .Titulo{
        display: flex;
        justify-content: center;
      }
      .tituloContenido{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .tituloContenido a{
        text-decoration: none;
        color: #3278FB;
        font-size: 23px;
    
    
      }
      .contenedorContenido{
        margin-left: 6%;
        overflow-x: auto;
      }
      .imagenesContenido{
        display: flex;
        gap: 20px;
      }
    }