@media screen and (max-width: 550px) {
    .footerFixed {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white; /* O el color que prefieras */
        z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    }

    .footerPagina {
        display: flex;
        justify-content: center;
        text-decoration: none;
        gap: 15%;
        margin: 0;
        padding: 10px 0;
    }
    
    .navegadorFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    
    .navegadorFooter img {
        width: 45px;
        height: 40px;
    }
}
