
@media screen  and (max-width: 550px) {
    .footerPagina{
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
    }
    .navegadorFooter{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navegadorFooter img{
            width: 65px;
            height: 50px;
    }
    .textoFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}