/* Estilos principales para el contenedor y headers */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}
.contenedorLink{
  font-size: 1rem;
  color: #fff;
  background-color: #3278FB;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;

}

.returnLink {
  align-self: flex-start;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

/* Main y form container */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  background-color: #FFFFFF;
}

/* Grupos de inputs y selectores */
.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.label {
  font-size: 16px;
  color: black;
  align-self: flex-start;
  margin-bottom: 5px;
}

.select, .button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  background-color: #EFEFEF;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.select, .button {
  border:solid 2px #0F77F0;
}

/* Estilo específico para el botón de eliminar */
.button {
  background-color: #0F77F0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

/* Estilo de mensaje de acceso denegado */
.accessDenied {
  text-align: center;
  color: #444444;
  padding: 20px;
}

.accessDenied h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.accessDenied p {
  font-size: 16px;
}
