@media screen and (max-width: 550px) {
    .contenedorInicioSesion {
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .Titulo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .padre {
        width: 100%;
    }

    .inputRegistro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 100%;
    }
    
    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 60px;
        background-color: #EFEFEF;
        border: transparent;
        border-radius: 12px;
    }
    
    .input:focus {
        border: solid 1px #0F77F0;
    }
    
    .botonRegistrarse {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F77F0;
        border-radius: 15px;
        width: 328px; /* Ancho del div, ajusta si es necesario */
        height: 56px; /* Alto del div, ajusta si es necesario */
        margin: 0 auto; /* Centra el div horizontalmente */
        margin-top: 4%;
        margin-bottom: 4%;

    }
    
    .botonRegistrarse button {
        width: 100%; /* Hace que el botón ocupe todo el ancho del div */
        height: 100%; /* Hace que el botón ocupe todo el alto del div */
        border: none; /* Elimina el borde predeterminado del botón */
        border-radius: 15px; /* Aplica el mismo radio de borde al botón */
        background-color: transparent; /* Fondo transparente para el botón */
        color: white; /* Color del texto del botón */
        font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
        cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    }
    
    .contenedorP {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contenedorP a {
        color: #444444;
        text-decoration: none;
    }
}
 