
.contenedor{
    padding-bottom: 95px;
}
.Titulo h1{
    margin: 0;
}
.ContenedorBuscador {
    display: flex;
    justify-content: center;
    margin: 10% 0; /* Espaciado entre el título y las tarjetas */
    
}

.Buscador {
    display: flex;
    align-items: center;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 1px 1%;
    width: 80%;
    box-sizing: border-box;
}

.Buscador img {
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}

.Buscador input {
    border: none;
    height: 100%;
}

.Buscador input:focus {
    outline: none;
}

.ContenedorTarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid 2px #3278FB;
    border-radius: 8px;
    margin-bottom: 5%;
    padding: 3%;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.tarjetaHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 1%;
}

.contenido {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.Agregar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.headerContainer {
    position: relative;
    width: 100%;
    height: 80px; /* Altura del contenedor de la cabecera */
    margin-bottom: -2%;
}

.Titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centra el título exactamente en el medio de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fotoPerfilContainer {
    position: absolute;
    top: 50%; /* Centra verticalmente en relación al contenedor */
    right: 10px; /* Espacio desde el borde derecho de la pantalla */
    transform: translateY(-50%); /* Alinea la imagen verticalmente en el centro del contenedor */
    width: 50px;
    height: 50px;
}

.fotoPerfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}


.Buscador button {
    width: 100%; /* Hace que el botón ocupe todo el ancho del div */
    height: 100%; /* Hace que el botón ocupe todo el alto del div */
    border: none; /* Elimina el borde predeterminado del botón */
    border-radius: 15px; /* Aplica el mismo radio de borde al botón */
    background-color: transparent; /* Fondo transparente para el botón */
    color: white; /* Color del texto del botón */
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
}