@media screen  and (max-width: 550px) {
    
    .tarjetasGestor{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    .tarjetas{
        display: flex;
        border: 2px solid #e0e0e0;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 100%;
    }
    
    .imagenIngresos{
        width: 100px;
    }
    .Infotarjetas{
        display: flex;
        align-items: center;
        margin-left: 40px;
        gap: 5px;
    }
    .Infotarjetas img{
        margin-right: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }
    .contenido{
        display:flex;
        flex-direction: column;
        width: 200px;
    }
}