@media screen and (max-width: 600px) {


    .PaginaPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .contenedorImagen{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    }
    .contenedorTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 363px;
    }
    .ImagenPrincipal{
    width: 214px;
    height: 138px;
    }
    .palabrasIniciio{
    color: #0F77F0;
    }
    .mismoLugar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    }
    .contenedorParteArriba{
    margin-bottom: 180px;
    }
    .contenedorInicioSesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
    .botonRegistrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F77F0;
    border-radius: 15px;
    width: 328px;
    height: 56px;
    
    
    }
    .botonRegistrarse a{
        text-decoration: none;
        color: white;
    }
    .contenedorP{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorP a{
            color: #444444;
            text-decoration: none;
        }
    }
