@media screen and (max-width: 600px) {

    .PaginaPrincipal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh; /* Ajusta para que ocupe toda la pantalla */
        background-color: #f0f0f0; /* Fondo claro para la pantalla de carga */
      }
      
      .contenedorParteArriba {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      
      .contenedorImagen {
        display: flex;
        justify-content: center;
      }
      
      .ImagenPrincipal {
        width: 150px; /* Tamaño reducido del logo */
        height: auto;
      }
      
      .contenedorTexto {
        text-align: center;
        color: #0F77F0; /* Color azul del texto */
        font-size: 18px;
        font-weight: bold;
      }
}
