/* Gestor.module.css */

/* Estilos generales para la pantalla móvil */
@media screen and (max-width: 550px) {
    .logoPagina {
        width: 100px;
        height: 50px;
    }

    .ContenedorGestor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 95px;
    }

    .tituloGestor {
        display: flex;
        align-items: center; /* Alinea verticalmente el título y la imagen de perfil */
        width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
        justify-content: center; /* Centra el título horizontalmente */
        position: relative; /* Necesario para posicionar la imagen de perfil dentro del contenedor */
        padding: 0 10px; /* Espacio horizontal alrededor del contenedor */
        gap: 35px;
    }

    .balanceMensual {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .balanceMensual h2 {
        display: flex;
        justify-content: center;
    }

    .MesGestor {
        display: flex;
        padding: 3px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid black;
        width: fit-content;
        height: 25px;
        margin-top: 5px;
    }

    .MesGestor a {
        text-decoration: none;
        color: black;
    }

    .botonReporteMensual {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 250px;
        height: 50px;
        border: 2px solid #0F77F0;
        border-radius: 16px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .botonReporteMensual a {
        text-decoration: none;
        color: black;
    }

    /* Contenedor para la imagen de perfil */
    .fotoPerfilContainer {
        position: absolute; /* Cambiado a posición absoluta */
        top: 10px; /* Espacio desde la parte superior del contenedor */
        right: 10px; /* Espacio desde el borde derecho del contenedor */
        width: 50px; /* Tamaño pequeño para la imagen */
        height: 50px; /* Tamaño pequeño para la imagen */
    }

    .fotoPerfil {
        width: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
        height: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
        border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar sobre la imagen para indicar que es clickeable */
        object-fit: cover; /* Ajusta la imagen para que se ajuste dentro del contenedor sin distorsionarse */
    }
}
