@media screen and (max-width: 600px) {

.Titulo{
    display: flex;
    justify-content: center;
}
.Agregar{
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background-color: #3278FB;
    border: 2px solid #3278FB;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.Agregar:hover {
    background-color: #fff;
    color: #3278FB;
}

.ContenedorBuscador{
    display: flex;
    justify-content: center;
    border: 1px solid #3278FB;
    margin-bottom: 10%;
}
.Buscador{
    display: flex;
}
.ContenedorTarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5%;

}
.tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: solid 2px #3278FB;
    border-radius: 8px;
    margin-bottom: 5%;
    width: 400px;

    
}
}