@media screen and (max-width: 550px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
    }
    .contenedorLink{
        font-size: 1rem;
        color: #fff;
        background-color: #3278FB;
        padding: 10px 10px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;

    }

    .returnLink {
        align-self: flex-start;
        color: white;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    }


    .Titulo {
        margin-top: 20px; /* Espacio entre el botón de volver y el título */
        color: black;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .inputAgregar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .inputGroup {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 328px; /* Ajusta el ancho máximo para alinear con el botón */
        gap: 8px;
    }

    .input, .textarea, .select, .button {
        width: 100%; /* Todos los elementos ocuparán el ancho total del contenedor */
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #EFEFEF;
        background-color: #EFEFEF;
        outline: none;
        text-align: center;
    }

    .input, .textarea, .select {
        border: solid 2px #0F77F0;
    }

    .textarea {
        min-height: 100px;
        resize: vertical;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F77F0;
        border-radius: 15px;
        width: 328px;
        height: 56px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border: none;
    }

    .accessDenied {
        text-align: center;
        color: #444444;
    }

    .accessDenied h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .accessDenied p {
        font-size: 16px;
    }
}
